.login {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 300px;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 20rem;
  padding: 60px 15px 15px 15px;
  border-radius: 10px;
}

.lInput {
  height: 30px;
  padding: 10px;
  outline: none;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
