.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
}
.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 500;
}
.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.lButton {
  margin-top: 10px;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border: 1px solid #4db5ff;
  transition: all 400ms ease;
  background: #4db5ff;
  color: #1f1f38;
  height: 2.8rem;
  border-radius: 10px;
}
.lButton:hover {
  background-color: #ffff;
  color: #1f1f38;
  border-color: transparent;
}
/* ...............Media queries(Medium Device)........................ */
@media screen and (max-width: 1024px) {
  .navContainer {
    width: 90%;
  }
}
/* ....................Media queries (Small Devices)............... */

@media screen and (max-width: 600px) {
  .navButton {
    margin-left: 12px;
  }
}
