.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* z-index: 1; */
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  /* flex: 1; */
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}

.featuredTitles {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 18px;
  text-transform: capitalize;
  text-align: left;
  border: 1px solid red;
}

/* ...............Media queries(Medium Device)........................ */
@media screen and (max-width: 1024px) {
}
/* ....................Media queries (Small Devices)............... */

@media screen and (max-width: 600px) {
  .featured {
    width: 90%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
  }
}
