.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fpItem {
  flex: 1;
  gap: 2px;
  display: flex;
  flex-direction: column;
 
}

.fpImg {
  width: 90%;
  height: 230px;
  object-fit: cover;
  margin: auto;
  border-radius: 5px;
}

.fpName {
  color: white;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  text-transform: capitalize;
}

.fpCity {
  font-weight: 300;
  text-align: left;
  padding-left: 10px;
  text-transform: capitalize;
}

.fpPrice {
  font-weight: 500;
  text-align: left;
  padding-left: 10px;
  text-transform: capitalize;
}

.fpRating > button {
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating > span {
  font-size: 14px;

  float: left;
}

/* ...............Media queries(Medium Device)........................ */
@media screen and (max-width: 1024px) {
}
/* ....................Media queries (Small Devices)............... */

@media screen and (max-width: 600px) {
  .fp {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .fpName {
    padding-left: 25px;
  }

  .fpCity {
    padding-left: 25px;
  }

  .fpPrice {
    padding-left: 25px;
  }
}
